<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<!--main content for displaying my db-->
<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-12">
            <h1><%= title %></h1>

            <a href="/destinations/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add a Destination
            </a>

            <table class="table table-bordered table-striped table-hover">
                <!--header row-->
                <tr class="d-flex bg-primary text-white">
                    <th class="text-center col-2">Country</th>
                    <th class="text-center col-2">Cities</th>
                    <th class="text-center col-2">Attractions</th>
                    <th class="text-center col-2">Foods</th>
                    <th class="text-center col-1">Budget</th>
                    <th class="col-3">Notes</th>
                </tr>

                <!-- for loop -->
                <% for(let count = 0; count < DestinationList.length; count++) { %>
                    <tr class="d-flex bg-primary text-white">
                        <td class="text-center col-2"><%= DestinationList[count].countryName %></td>
                        <td class="text-center col-2"><%= DestinationList[count].cities %></td>
                        <td class="text-center col-2"><%= DestinationList[count].attractions %></td>
                        <td class="text-center col-2"><%= DestinationList[count].foods %></td>
                        <td class="text-center col-1"><%= DestinationList[count].budget %></td>
                        <td class="col-3"><%= DestinationList[count].notes %></td>

                        <td class="text-center col-1">
                            <a href="/destinations/edit/<%= DestinationList[count]._id %>"
                                class="btn btn-primary btn-sm">
                                <i class="fas fa-pencil-alt"></i> Edit
                            </a>
                        </td>

                        <td class="text-center col-1">
                            <a href="/destinations/delete/<%= DestinationList[count]._id %>"
                                class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i> Delete
                            </a>
                        </td>
                    </tr>
                <% } %>
            </table>

        </div>
    </div>
</main>

<%- include ../partials/footer.ejs %>
